<a href="https://colab.research.google.com/github/nahyunryou/BigContest2022/blob/main/Funnel_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
log = pd.read_csv('/content/drive/MyDrive/bigcon/log_data.csv')

In [ ]:
display(log)

,user_id,event,timestamp,mp_os,mp_app_version,date_cd
0,576409,StartLoanApply,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
1,576409,ViewLoanApplyIntro,2022-03-25 11:12:09,Android,3.8.2,2022-03-25
2,72878,EndLoanApply,2022-03-25 11:14:44,Android,3.8.4,2022-03-25
3,645317,OpenApp,2022-03-25 11:15:09,iOS,3.6.1,2022-03-25
4,645317,UseLoanManage,2022-03-25 11:15:11,iOS,3.6.1,2022-03-25
...,...,...,...,...,...,...
17843988,242442,StartLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843989,242442,EndLoanApply,2022-05-27 16:08:21,Android,3.13.0,2022-05-27
17843990,593062,OpenApp,2022-05-27 16:19:10,Android,3.13.0,2022-05-27
17843991,593062,Login,2022-05-27 16:19:15,Android,3.13.0,2022-05-27
17843992,593062,UseLoanManage,2022-05-27 16:19:19,Android,3.13.0,2022-05-27

In [ ]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17843993 entries, 0 to 17843992
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   user_id         int64
 1   event           object
 2   timestamp       object
 3   mp_os           object
 4   mp_app_version  object
 5   date_cd         object
dtypes: int64(1), object(5)
memory usage: 816.8+ MB

In [ ]:
log['timestamp'] = pd.to_datetime(log['timestamp'])
log['date_cd'] = pd.to_datetime(log['date_cd'])

이용하는 기종이 서비스 이용에 큰 영향을 끼칠까?? 잘 모르겠음 일단 안씀

In [ ]:
#log.mp_os.unique()

In [ ]:
#log.mp_os=log.mp_os.str.lower()

In [ ]:
#log.mp_os.unique()

In [ ]:
log.mp_app_version.unique()

array(['3.8.2', '3.8.4', '3.6.1', '3.8.1', '3.8.0', '3.5.0', '3.5.3',
       '3.7.0', '3.6.0', '3.2.2', '3.10.2', '3.13.0', '3.12.1', '3.11.1',
       '3.10.0', '3.2.0', '3.3.2', '3.5.2', '3.11.0', '3.10.1', '3.9.1',
       '3.12.0', '3.0.2', '3.3.1', '3.9.0', '3.15.0', '3.15.1', '3.14.0',
       nan, '3.4.0', '3.5.1', '2.31.2', '3.1.1', '2.28.1', '3.2.1',
       '3.6.2', '3.1.0', '3.13.2', '3.0.1', '3.10.0.7', '3.10.1.0-dsr',
       '3.13.1', '3.0.0', '3.10.1.2', '3.12.0.0', '453', '417', '413',
       '435', '461', '422', '409', '356', '359', '462', '370', '459',
       '451', '421', '383', '401', '464', '448', '466', '447', '407',
       '416', '396', '440', '460', '380', '465', '404', '426', '408',
       '360', '376', '354', '363', '449', '368', '433', '2.2.8', '387',
       '399', '361', '405', '452', '373', '385', '390', '424', '397',
       '382', '389', '1.2.4', '2.24.2', '2.28.3', '3.10.1.0', '2.28.4',
       '3.10.2.2', '2.28.6', '3.8.0.6.mydata', '381', '406', '400',
       '2.27.4', '3.3.0', '365', '366', '374', '432', '403', '384', '353',
       '3.2.4', '379', '463', '372', '394', '357', '395', '367', '364',
       '362', '369', '386', '375', '351', '2.24.5', '1.6.5', '2.28.2',
       '402', '398', '2.31.1', '3.4.1', '469', '470', '371', '2.27.0',
       '1.9.1', '3.10.1.0-certificate', '3.15.0.5', '3.10.0.3', '2.19.0',
       '2.0.7', '349', '2.25.3', '2.0.3', '1.9.8', '3.2.3', '2.23.3',
       '2.2.3', '2.22.4', '378', '3.15.0.0', '2.30.0', '2.21.0', '2.25.0',
       '270', '10000', '2.1.5', '2.30.4', '2.2.9', '2.1.7', '1.2.1',
       '2.30.6', '2.24.3', '2.1.8', '377', '2.23.0', '2.22.6', '1.7.6',
       '2.28.5', '3.10.2.0', '3.15.0.3-library-update', '3.10.0.6', '467',
       '1.9.9', '339', '2.24.4', '1.1.7', '2.17.1', '2.22.0', '3.10.0.5',
       '1.5.2', '330', '304', '2.25.1', '278', '1.8.4', '3.6.0.1', '348',
       '388', '282', '429', '2.22.2', '1.0.1', '2.23.4', '2.2.7',
       '2.26.1', '431', '2.30.2', '1.6.4', '2.29.0', '2.20.0', '300',
       '2.22.7', '393', '2.23.2', '1.5.5', '456', '320', '254', '2.20.1',
       '1.0.3', '3.13.3', '3.15.0.6', '331', '430', '3.10.0.4', '323',
       '294', '468', '1.6.1', '427', '3.15.0.3', '1.1.6', '2.23.1', '293',
       '2.30.3', '1.4.1', '2.19.1', '3.10.2.1', '3.8.3', '3.10.0.1',
       '2.18.5', '2.1.4', '1.3.6', '2.21.2', '1.0.0', '458', '3.12.0.1',
       '3.8.0.1.mydata', '3.10.1.1', '284', '3.15.0.4', '1.1.5', '1.0.5',
       '2.18.4', '321', '455', '1.1.9', '306', '3.15.0.0-library-update',
       '2.30.1', '326', '2.27.2', '3.10.0.2', '454'], dtype=object)

In [ ]:
del log['mp_app_version'] #군집분석에 불필요

In [ ]:
del log['mp_os']

In [ ]:
log_cat = ['user_id','event']

In [ ]:
log[log_cat]=log[log_cat].astype('category')

In [ ]:
log.user_id.cat.categories =["user%s" % g for g in log.user_id.cat.categories]

In [ ]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17843993 entries, 0 to 17843992
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   user_id    category
 1   event      category
 2   timestamp  datetime64[ns]
 3   date_cd    datetime64[ns]
dtypes: category(2), datetime64[ns](2)
memory usage: 378.0 MB

In [ ]:
len(log.user_id.unique())

584636

In [ ]:
#log.loc[(log.user_id=='user500083'),:] 중복행 존재

In [ ]:
log = log.drop_duplicates()

In [ ]:
index = log.event.unique()
index

['StartLoanApply', 'ViewLoanApplyIntro', 'EndLoanApply', 'OpenApp', 'UseLoanManage', ..., 'Login', 'CompleteIDCertification', 'UseDSRCalc', 'SignUp', 'GetCreditInfo']
Length: 11
Categories (11, object): ['CompleteIDCertification', 'EndLoanApply', 'GetCreditInfo', 'Login', ..., 'UseDSRCalc',
                          'UseLoanManage', 'UsePrepayCalc', 'ViewLoanApplyIntro']

In [ ]:
event_descrip = pd.DataFrame(['한도조회 시작하기 버튼 클릭','한도조회 인트로 페이지 조회','한도조회 결과 확인','핀다 앱 실행','대출관리 서비스 이용','여윳돈 계산기 서비스 이용','핀다 앱 로그인','본인인증완료','DSR 계산기 서비스 이용','회원가입','KCB 신용정보 조회'], index = index,columns = ['description'])

In [ ]:
event_descrip

                             description
StartLoanApply           한도조회 시작하기 버튼 클릭
ViewLoanApplyIntro       한도조회 인트로 페이지 조회
EndLoanApply                  한도조회 결과 확인
OpenApp                          핀다 앱 실행
UseLoanManage                대출관리 서비스 이용
UsePrepayCalc             여윳돈 계산기 서비스 이용
Login                           핀다 앱 로그인
CompleteIDCertification           본인인증완료
UseDSRCalc                DSR 계산기 서비스 이용
SignUp                              회원가입
GetCreditInfo                KCB 신용정보 조회

In [ ]:
group1 = log.groupby(['user_id','event'])['timestamp'].min() # 유효한 시간 내에 분석하기 위해 시간대가 가장 빠른 이벤트 추출

In [ ]:
pd.DataFrame(group1)

                                             timestamp
user_id    event
user1      CompleteIDCertification                 NaT
           EndLoanApply                            NaT
           GetCreditInfo           2022-05-03 14:52:28
           Login                   2022-06-16 23:58:41
           OpenApp                                 NaT
...                                                ...
user879698 StartLoanApply          2022-05-24 22:33:32
           UseDSRCalc                              NaT
           UseLoanManage                           NaT
           UsePrepayCalc                           NaT
           ViewLoanApplyIntro      2022-05-24 22:33:32

[6430996 rows x 1 columns]

In [ ]:
log.loc[(log.user_id=='user1'),:]

         user_id          event           timestamp    date_cd
2451691    user1  UseLoanManage 2022-06-16 23:58:41 2022-06-16
2451693    user1          Login 2022-06-16 23:58:41 2022-06-16
7071607    user1  GetCreditInfo 2022-06-16 23:58:42 2022-06-16
11709372   user1  GetCreditInfo 2022-05-03 14:52:28 2022-05-03
11709374   user1  GetCreditInfo 2022-05-03 14:52:35 2022-05-03

In [ ]:
log.loc[(log.user_id=='user879698'),:]

            user_id               event           timestamp    date_cd
8248077  user879698             OpenApp 2022-05-24 22:33:24 2022-05-24
8248080  user879698      StartLoanApply 2022-05-24 22:33:32 2022-05-24
8248082  user879698  ViewLoanApplyIntro 2022-05-24 22:33:32 2022-05-24

In [ ]:
grouped = pd.DataFrame(group1).merge(event_descrip, left_on='event', right_index = True)
grouped

                                             timestamp      description
user_id    event
user1      CompleteIDCertification                 NaT           본인인증완료
user7      CompleteIDCertification                 NaT           본인인증완료
user9      CompleteIDCertification                 NaT           본인인증완료
user11     CompleteIDCertification 2022-03-24 10:56:26           본인인증완료
user12     CompleteIDCertification 2022-03-14 01:13:46           본인인증완료
...                                                ...              ...
user879693 ViewLoanApplyIntro      2022-05-13 11:29:49  한도조회 인트로 페이지 조회
user879694 ViewLoanApplyIntro      2022-03-31 20:07:23  한도조회 인트로 페이지 조회
user879695 ViewLoanApplyIntro      2022-05-27 12:48:32  한도조회 인트로 페이지 조회
user879696 ViewLoanApplyIntro      2022-03-14 05:37:55  한도조회 인트로 페이지 조회
user879698 ViewLoanApplyIntro      2022-05-24 22:33:32  한도조회 인트로 페이지 조회

[6430996 rows x 2 columns]

In [ ]:
log_step = grouped.reset_index().pivot(index='user_id',columns='description',values='timestamp')
log_step

description,DSR 계산기 서비스 이용,KCB 신용정보 조회,대출관리 서비스 이용,본인인증완료,여윳돈 계산기 서비스 이용,핀다 앱 로그인,핀다 앱 실행,한도조회 결과 확인,한도조회 시작하기 버튼 클릭,한도조회 인트로 페이지 조회,회원가입
user_id,,,,,,,,,,,
user1,NaT,2022-05-03 14:52:28,2022-06-16 23:58:41,NaT,NaT,2022-06-16 23:58:41,NaT,NaT,NaT,NaT,NaT
user7,NaT,2022-05-22 16:39:49,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
user9,NaT,2022-05-21 23:37:58,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
user11,NaT,2022-03-24 10:54:07,2022-03-24 10:54:08,2022-03-24 10:56:26,2022-03-24 10:54:36,NaT,2022-03-24 10:53:59,2022-03-24 10:59:46,2022-03-24 10:55:43,2022-03-24 10:55:43,NaT
user12,NaT,2022-05-01 18:30:42,2022-05-01 18:30:48,2022-03-14 01:13:46,NaT,2022-03-14 01:13:15,2022-03-14 01:13:11,2022-03-14 01:16:26,2022-03-14 01:13:21,2022-03-14 01:13:22,NaT
...,...,...,...,...,...,...,...,...,...,...,...
user879693,NaT,2022-05-13 13:24:33,2022-05-13 13:24:32,2022-05-13 11:30:06,NaT,NaT,2022-05-13 11:40:29,2022-05-13 11:34:29,2022-05-13 11:29:49,2022-05-13 11:29:49,NaT
user879694,NaT,NaT,NaT,2022-03-31 20:07:42,NaT,NaT,NaT,2022-03-31 20:18:18,2022-03-31 20:07:23,2022-03-31 20:07:23,NaT
user879695,NaT,NaT,NaT,2022-05-27 12:48:51,NaT,NaT,NaT,2022-05-27 12:51:23,2022-05-27 12:48:32,2022-05-27 12:48:32,NaT
user879696,NaT,2022-03-14 05:35:43,2022-03-14 05:35:41,2022-03-14 05:38:16,NaT,2022-03-14 05:35:34,2022-03-14 05:37:32,2022-03-14 05:42:14,NaT,2022-03-14 05:37:55,NaT
user879698,NaT,NaT,NaT,NaT,NaT,NaT,2022-05-24 22:33:24,NaT,2022-05-24 22:33:32,2022-05-24 22:33:32,NaT

In [ ]:
a = log_step['회원가입'].dropna(how='all')
a

user_id
user30       2022-03-30 12:13:32
user34       2022-05-13 15:32:03
user44       2022-06-28 11:47:08
user51       2022-05-07 16:53:08
user52       2022-04-14 12:16:00
                     ...
user879582   2022-03-05 01:05:27
user879591   2022-03-23 21:18:53
user879629   2022-04-12 19:22:58
user879638   2022-06-21 13:48:01
user879689   2022-06-10 15:57:18
Name: 회원가입, Length: 28232, dtype: datetime64[ns]

In [ ]:
log_step['회원가입'].dropna(inplace=True)
log_step

description,DSR 계산기 서비스 이용,KCB 신용정보 조회,대출관리 서비스 이용,본인인증완료,여윳돈 계산기 서비스 이용,핀다 앱 로그인,핀다 앱 실행,한도조회 결과 확인,한도조회 시작하기 버튼 클릭,한도조회 인트로 페이지 조회,회원가입
user_id,,,,,,,,,,,
user1,NaT,2022-05-03 14:52:28,2022-06-16 23:58:41,NaT,NaT,2022-06-16 23:58:41,NaT,NaT,NaT,NaT,NaT
user7,NaT,2022-05-22 16:39:49,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
user9,NaT,2022-05-21 23:37:58,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
user11,NaT,2022-03-24 10:54:07,2022-03-24 10:54:08,2022-03-24 10:56:26,2022-03-24 10:54:36,NaT,2022-03-24 10:53:59,2022-03-24 10:59:46,2022-03-24 10:55:43,2022-03-24 10:55:43,NaT
user12,NaT,2022-05-01 18:30:42,2022-05-01 18:30:48,2022-03-14 01:13:46,NaT,2022-03-14 01:13:15,2022-03-14 01:13:11,2022-03-14 01:16:26,2022-03-14 01:13:21,2022-03-14 01:13:22,NaT
...,...,...,...,...,...,...,...,...,...,...,...
user879693,NaT,2022-05-13 13:24:33,2022-05-13 13:24:32,2022-05-13 11:30:06,NaT,NaT,2022-05-13 11:40:29,2022-05-13 11:34:29,2022-05-13 11:29:49,2022-05-13 11:29:49,NaT
user879694,NaT,NaT,NaT,2022-03-31 20:07:42,NaT,NaT,NaT,2022-03-31 20:18:18,2022-03-31 20:07:23,2022-03-31 20:07:23,NaT
user879695,NaT,NaT,NaT,2022-05-27 12:48:51,NaT,NaT,NaT,2022-05-27 12:51:23,2022-05-27 12:48:32,2022-05-27 12:48:32,NaT
user879696,NaT,2022-03-14 05:35:43,2022-03-14 05:35:41,2022-03-14 05:38:16,NaT,2022-03-14 05:35:34,2022-03-14 05:37:32,2022-03-14 05:42:14,NaT,2022-03-14 05:37:55,NaT
user879698,NaT,NaT,NaT,NaT,NaT,NaT,2022-05-24 22:33:24,NaT,2022-05-24 22:33:32,2022-05-24 22:33:32,NaT

In [ ]:
dropped= log_step[log_step['회원가입']=='NaT'].index
dropped_df= log_step.drop(dropped)
dropped_df

description,DSR 계산기 서비스 이용,KCB 신용정보 조회,대출관리 서비스 이용,본인인증완료,여윳돈 계산기 서비스 이용,핀다 앱 로그인,핀다 앱 실행,한도조회 결과 확인,한도조회 시작하기 버튼 클릭,한도조회 인트로 페이지 조회,회원가입
user_id,,,,,,,,,,,
user1,NaT,2022-05-03 14:52:28,2022-06-16 23:58:41,NaT,NaT,2022-06-16 23:58:41,NaT,NaT,NaT,NaT,NaT
user7,NaT,2022-05-22 16:39:49,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
user9,NaT,2022-05-21 23:37:58,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
user11,NaT,2022-03-24 10:54:07,2022-03-24 10:54:08,2022-03-24 10:56:26,2022-03-24 10:54:36,NaT,2022-03-24 10:53:59,2022-03-24 10:59:46,2022-03-24 10:55:43,2022-03-24 10:55:43,NaT
user12,NaT,2022-05-01 18:30:42,2022-05-01 18:30:48,2022-03-14 01:13:46,NaT,2022-03-14 01:13:15,2022-03-14 01:13:11,2022-03-14 01:16:26,2022-03-14 01:13:21,2022-03-14 01:13:22,NaT
...,...,...,...,...,...,...,...,...,...,...,...
user879693,NaT,2022-05-13 13:24:33,2022-05-13 13:24:32,2022-05-13 11:30:06,NaT,NaT,2022-05-13 11:40:29,2022-05-13 11:34:29,2022-05-13 11:29:49,2022-05-13 11:29:49,NaT
user879694,NaT,NaT,NaT,2022-03-31 20:07:42,NaT,NaT,NaT,2022-03-31 20:18:18,2022-03-31 20:07:23,2022-03-31 20:07:23,NaT
user879695,NaT,NaT,NaT,2022-05-27 12:48:51,NaT,NaT,NaT,2022-05-27 12:51:23,2022-05-27 12:48:32,2022-05-27 12:48:32,NaT
user879696,NaT,2022-03-14 05:35:43,2022-03-14 05:35:41,2022-03-14 05:38:16,NaT,2022-03-14 05:35:34,2022-03-14 05:37:32,2022-03-14 05:42:14,NaT,2022-03-14 05:37:55,NaT
user879698,NaT,NaT,NaT,NaT,NaT,NaT,2022-05-24 22:33:24,NaT,2022-05-24 22:33:32,2022-05-24 22:33:32,NaT

신용점수만 확인하고 다른 서비스 이용기록이 없는 고객 -> 신용점수를 더 높이고 싶지 않으신가요?

In [ ]:
log_step.nunique()

description
DSR 계산기 서비스 이용       3619
KCB 신용정보 조회        445565
대출관리 서비스 이용        288669
본인인증완료             304266
여윳돈 계산기 서비스 이용       4483
핀다 앱 로그인           335769
핀다 앱 실행            401306
한도조회 결과 확인         295065
한도조회 시작하기 버튼 클릭    317974
한도조회 인트로 페이지 조회    346335
회원가입                28152
dtype: int64

In [ ]:
log_step.describe(include='all')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

description,DSR 계산기 서비스 이용,KCB 신용정보 조회,대출관리 서비스 이용,본인인증완료,여윳돈 계산기 서비스 이용,핀다 앱 로그인,핀다 앱 실행,한도조회 결과 확인,한도조회 시작하기 버튼 클릭,한도조회 인트로 페이지 조회,회원가입
count,3619,462609,297468,311972,4486,347643,418602,302466,326555,356475,28232
unique,3619,445565,288669,304266,4483,335769,401306,295065,317974,346335,28152
top,2022-04-15 22:11:53,2022-06-23 09:23:40,2022-03-01 18:10:27,2022-03-11 12:53:02,2022-03-04 13:14:44,2022-03-01 12:51:20,2022-03-01 17:10:05,2022-04-12 12:08:14,2022-03-02 14:13:14,2022-03-01 22:04:25,2022-06-26 12:16:37
freq,1,6,5,4,2,5,6,4,4,4,2
first,2022-03-01 00:08:46,2022-03-01 00:00:03,2022-03-01 00:00:00,2022-03-01 00:11:25,2022-03-01 00:19:10,2022-03-01 00:00:00,2022-03-01 00:00:00,2022-03-01 00:00:03,2022-03-01 00:00:06,2022-03-01 00:00:06,2022-03-01 00:13:39
last,2022-06-29 11:17:07,2022-06-30 23:59:57,2022-06-30 23:58:19,2022-06-30 23:58:55,2022-06-29 09:59:23,2022-06-30 23:57:47,2022-06-30 23:58:14,2022-06-30 23:58:59,2022-06-30 23:59:53,2022-06-30 23:59:53,2022-06-30 23:59:02

* 각 스텝별 평균소요시간계산이 필요한 경우에는 뭐가 있을까?
* 한 명의 유저가 여러번 이용한 경우는 어떻게 확인할까?

In [ ]:
display(log)

             user_id               event           timestamp    date_cd
0         user576409      StartLoanApply 2022-03-25 11:12:09 2022-03-25
1         user576409  ViewLoanApplyIntro 2022-03-25 11:12:09 2022-03-25
2          user72878        EndLoanApply 2022-03-25 11:14:44 2022-03-25
3         user645317             OpenApp 2022-03-25 11:15:09 2022-03-25
4         user645317       UseLoanManage 2022-03-25 11:15:11 2022-03-25
...              ...                 ...                 ...        ...
17843988  user242442      StartLoanApply 2022-05-27 16:08:21 2022-05-27
17843989  user242442        EndLoanApply 2022-05-27 16:08:21 2022-05-27
17843990  user593062             OpenApp 2022-05-27 16:19:10 2022-05-27
17843991  user593062               Login 2022-05-27 16:19:15 2022-05-27
17843992  user593062       UseLoanManage 2022-05-27 16:19:19 2022-05-27

[17359847 rows x 4 columns]

In [ ]:
log.head()

      user_id               event           timestamp    date_cd
0  user576409      StartLoanApply 2022-03-25 11:12:09 2022-03-25
1  user576409  ViewLoanApplyIntro 2022-03-25 11:12:09 2022-03-25
2   user72878        EndLoanApply 2022-03-25 11:14:44 2022-03-25
3  user645317             OpenApp 2022-03-25 11:15:09 2022-03-25
4  user645317       UseLoanManage 2022-03-25 11:15:11 2022-03-25

In [ ]:
log.event.unique()

['StartLoanApply', 'ViewLoanApplyIntro', 'EndLoanApply', 'OpenApp', 'UseLoanManage', ..., 'Login', 'CompleteIDCertification', 'UseDSRCalc', 'SignUp', 'GetCreditInfo']
Length: 11
Categories (11, object): ['CompleteIDCertification', 'EndLoanApply', 'GetCreditInfo', 'Login', ..., 'UseDSRCalc',
                          'UseLoanManage', 'UsePrepayCalc', 'ViewLoanApplyIntro']

In [ ]:
log_delete1 = log[log['event'].str.contains('UsePrepayCalc')].index
log_delete2= log[log['event'].str.contains('UseDSRCalc')].index
log.drop(log_delete1,inplace=True)
log.drop(log_delete2,inplace=True)
log

             user_id               event           timestamp    date_cd
0         user576409      StartLoanApply 2022-03-25 11:12:09 2022-03-25
1         user576409  ViewLoanApplyIntro 2022-03-25 11:12:09 2022-03-25
2          user72878        EndLoanApply 2022-03-25 11:14:44 2022-03-25
3         user645317             OpenApp 2022-03-25 11:15:09 2022-03-25
4         user645317       UseLoanManage 2022-03-25 11:15:11 2022-03-25
...              ...                 ...                 ...        ...
17843988  user242442      StartLoanApply 2022-05-27 16:08:21 2022-05-27
17843989  user242442        EndLoanApply 2022-05-27 16:08:21 2022-05-27
17843990  user593062             OpenApp 2022-05-27 16:19:10 2022-05-27
17843991  user593062               Login 2022-05-27 16:19:15 2022-05-27
17843992  user593062       UseLoanManage 2022-05-27 16:19:19 2022-05-27

[17347946 rows x 4 columns]

In [ ]:
log.event.value_counts()

OpenApp                    3456728
GetCreditInfo              2597905
Login                      2463597
EndLoanApply               2327192
StartLoanApply             1893507
ViewLoanApplyIntro         1803494
UseLoanManage              1532940
CompleteIDCertification    1237693
SignUp                       34890
UseDSRCalc                       0
UsePrepayCalc                    0
Name: event, dtype: int64

In [ ]:
# 퍼널 분석 : OpenApp > ViewLoanApplyIntro > StartLoanApply > EndLoanApply
# 3~5월 가입자수 SignUp 34892명 중 이탈률 / 전환율 알아보기
# 개별로 봐야할 것 : GetCreditInfo(사용량이 많은데 오직 조회만 하는지 대출도 받는지 알아볼 필요), UsePrepayCalc , UseDSRCalc

In [ ]:
import plotly.express as px
data = dict(
    number = [3456728,2463597,2327192,1893507,1803494],
    stage = ['OpenApp','Login','EndLoanApply','StartLoanApply','ViewLoanApplyIntro'])
fig = px.funnel(data, x = 'number', y= 'stage')
fig.show()

순서가 말이 안됨.. 데이터 정제 필요

In [ ]:
LA_logs=['ViewLoanApplyIntro', 'StartLoanApply', 'CompleteIDCertification', 'EndLoanApply']

la_log_df = log[(log['event'] == LA_logs[1]) |
                             (log['event'] == LA_logs[2]) |
                             (log['event'] == LA_logs[3]) |
                             (log['event'] == LA_logs[0])
                             ]
la_log_df.reset_index(drop=True, inplace=True)
len(la_log_df), len(log), len(set(la_log_df['user_id']))

(7261886, 17347946, 378817)

In [ ]:
funnel_steps=pd.DataFrame(np.arange(4), index=LA_logs, columns=['step_no'])
funnel_steps

                         step_no
ViewLoanApplyIntro             0
StartLoanApply                 1
CompleteIDCertification        2
EndLoanApply                   3

In [ ]:
group1=log.groupby(['user_id', 'event'])['timestamp'].min()
group2=log.groupby(['user_id', 'event'])['timestamp'].max()
group1

user_id     event
user1       CompleteIDCertification                   NaT
            EndLoanApply                              NaT
            GetCreditInfo             2022-05-03 14:52:28
            Login                     2022-06-16 23:58:41
            OpenApp                                   NaT
                                              ...
user879698  StartLoanApply            2022-05-24 22:33:32
            UseDSRCalc                                NaT
            UseLoanManage                             NaT
            UsePrepayCalc                             NaT
            ViewLoanApplyIntro        2022-05-24 22:33:32
Name: timestamp, Length: 6430996, dtype: datetime64[ns]

In [ ]:
group_signup=log.groupby(['user_id', 'event'])['timestamp'].max() # 여러 일 실행한 유저는 마지막 실행한 데이터 추출

In [ ]:
group_signup
group_signup1 = pd.DataFrame(group_signup)
group_signup1.head(100)
group_signup1.dropna(how='all',inplace=True)
group_signup1.head()

                                timestamp
user_id event
user1   GetCreditInfo 2022-06-16 23:58:42
        Login         2022-06-16 23:58:41
        UseLoanManage 2022-06-16 23:58:41
user7   GetCreditInfo 2022-05-22 16:39:49
user9   GetCreditInfo 2022-05-21 23:43:52

In [ ]:
group1=pd.DataFrame(group1).merge(funnel_steps, left_on='event', right_index=True)
group2=pd.DataFrame(group2).merge(funnel_steps, left_on='event', right_index=True)
group1

                                             timestamp  step_no
user_id    event
user1      CompleteIDCertification                 NaT        2
user7      CompleteIDCertification                 NaT        2
user9      CompleteIDCertification                 NaT        2
user11     CompleteIDCertification 2022-03-24 10:56:26        2
user12     CompleteIDCertification 2022-03-14 01:13:46        2
...                                                ...      ...
user879693 ViewLoanApplyIntro      2022-05-13 11:29:49        0
user879694 ViewLoanApplyIntro      2022-03-31 20:07:23        0
user879695 ViewLoanApplyIntro      2022-05-27 12:48:32        0
user879696 ViewLoanApplyIntro      2022-03-14 05:37:55        0
user879698 ViewLoanApplyIntro      2022-05-24 22:33:32        0

[2338544 rows x 2 columns]

In [ ]:
funnel_1=group1.reset_index().pivot(index='user_id', columns='step_no', values='timestamp')
funnel_1.columns=funnel_steps.index
funnel_2=group2.reset_index().pivot(index='user_id', columns='step_no', values='timestamp')
funnel_2.columns=funnel_steps.index
funnel_1

,ViewLoanApplyIntro,StartLoanApply,CompleteIDCertification,EndLoanApply
user_id,,,,
user1,NaT,NaT,NaT,NaT
user7,NaT,NaT,NaT,NaT
user9,NaT,NaT,NaT,NaT
user11,2022-03-24 10:55:43,2022-03-24 10:55:43,2022-03-24 10:56:26,2022-03-24 10:59:46
user12,2022-03-14 01:13:22,2022-03-14 01:13:21,2022-03-14 01:13:46,2022-03-14 01:16:26
...,...,...,...,...
user879693,2022-05-13 11:29:49,2022-05-13 11:29:49,2022-05-13 11:30:06,2022-05-13 11:34:29
user879694,2022-03-31 20:07:23,2022-03-31 20:07:23,2022-03-31 20:07:42,2022-03-31 20:18:18
user879695,2022-05-27 12:48:32,2022-05-27 12:48:32,2022-05-27 12:48:51,2022-05-27 12:51:23
user879696,2022-03-14 05:37:55,NaT,2022-03-14 05:38:16,2022-03-14 05:42:14
user879698,2022-05-24 22:33:32,2022-05-24 22:33:32,NaT,NaT

In [ ]:
funnel_2

,ViewLoanApplyIntro,StartLoanApply,CompleteIDCertification,EndLoanApply
user_id,,,,
user1,NaT,NaT,NaT,NaT
user7,NaT,NaT,NaT,NaT
user9,NaT,NaT,NaT,NaT
user11,2022-06-13 21:43:11,2022-06-13 21:43:11,2022-06-13 21:43:29,2022-06-13 21:45:22
user12,2022-06-30 14:46:53,2022-06-30 14:46:53,2022-06-30 14:47:13,2022-06-30 14:49:50
...,...,...,...,...
user879693,2022-06-27 10:13:54,2022-06-27 10:13:54,2022-06-27 10:14:12,2022-06-14 11:07:59
user879694,2022-03-31 20:07:23,2022-03-31 20:07:23,2022-03-31 20:07:42,2022-03-31 20:18:18
user879695,2022-05-27 12:48:32,2022-05-27 12:48:32,2022-05-27 12:48:51,2022-05-27 12:51:23
user879696,2022-03-14 05:37:55,NaT,2022-03-14 05:38:16,2022-03-14 05:42:14
user879698,2022-05-24 22:33:32,2022-05-24 22:33:32,NaT,NaT

In [ ]:
funnel_1.dropna(how='all',inplace=True)
funnel_2.dropna(how='all',inplace=True)

In [ ]:
funnel_1.value_counts()

ViewLoanApplyIntro   StartLoanApply       CompleteIDCertification  EndLoanApply
2022-03-01 00:00:06  2022-03-01 00:00:06  2022-03-01 00:12:20      2022-03-01 00:14:52    1
2022-05-02 16:47:30  2022-06-27 20:57:14  2022-05-02 16:48:33      2022-05-02 16:52:50    1
2022-05-02 16:48:07  2022-05-04 09:13:14  2022-05-02 16:48:53      2022-05-02 16:49:59    1
2022-05-02 16:48:30  2022-05-02 16:48:30  2022-05-02 16:48:53      2022-05-02 16:53:55    1
2022-05-02 16:50:24  2022-05-02 16:50:24  2022-05-02 16:50:47      2022-05-02 16:52:24    1
                                                                                         ..
2022-03-22 09:29:55  2022-03-22 09:29:55  2022-03-22 09:30:34      2022-03-22 09:33:34    1
2022-03-22 09:30:09  2022-03-22 09:30:09  2022-03-22 09:30:27      2022-03-22 09:31:49    1
2022-03-22 09:30:13  2022-03-22 09:30:13  2022-03-22 09:31:23      2022-03-22 09:34:32    1
2022-03-22 09:30:24  2022-03-22 09:30:23  2022-03-22 09:30:46      2022-03-22 09:36:30    1
2022-06-30 23:52:56  2022-06-30 23:52:56  2022-06-30 23:53:47      2022-06-30 23:58:59    1
Length: 269321, dtype: int64

In [ ]:
funnel_1

,ViewLoanApplyIntro,StartLoanApply,CompleteIDCertification,EndLoanApply
user_id,,,,
user11,2022-03-24 10:55:43,2022-03-24 10:55:43,2022-03-24 10:56:26,2022-03-24 10:59:46
user12,2022-03-14 01:13:22,2022-03-14 01:13:21,2022-03-14 01:13:46,2022-03-14 01:16:26
user17,2022-03-06 10:44:29,2022-03-06 10:44:29,2022-03-06 10:44:49,2022-03-06 10:48:08
user19,2022-05-14 00:55:30,2022-05-14 00:55:30,2022-05-14 00:55:54,2022-05-14 00:56:59
user20,2022-03-14 15:37:53,2022-03-14 15:37:53,2022-03-14 15:38:25,2022-03-14 15:40:05
...,...,...,...,...
user879693,2022-05-13 11:29:49,2022-05-13 11:29:49,2022-05-13 11:30:06,2022-05-13 11:34:29
user879694,2022-03-31 20:07:23,2022-03-31 20:07:23,2022-03-31 20:07:42,2022-03-31 20:18:18
user879695,2022-05-27 12:48:32,2022-05-27 12:48:32,2022-05-27 12:48:51,2022-05-27 12:51:23
user879696,2022-03-14 05:37:55,NaT,2022-03-14 05:38:16,2022-03-14 05:42:14
user879698,2022-05-24 22:33:32,2022-05-24 22:33:32,NaT,NaT

In [ ]:
funnel_2

,ViewLoanApplyIntro,StartLoanApply,CompleteIDCertification,EndLoanApply
user_id,,,,
user11,2022-06-13 21:43:11,2022-06-13 21:43:11,2022-06-13 21:43:29,2022-06-13 21:45:22
user12,2022-06-30 14:46:53,2022-06-30 14:46:53,2022-06-30 14:47:13,2022-06-30 14:49:50
user17,2022-03-07 13:29:28,2022-03-07 13:55:01,2022-03-07 13:29:50,2022-03-07 13:55:02
user19,2022-05-14 00:55:30,2022-05-14 00:55:30,2022-05-14 00:55:54,2022-05-14 00:56:59
user20,2022-06-24 22:46:39,2022-06-24 22:46:39,2022-06-24 22:47:01,2022-06-24 22:48:49
...,...,...,...,...
user879693,2022-06-27 10:13:54,2022-06-27 10:13:54,2022-06-27 10:14:12,2022-06-14 11:07:59
user879694,2022-03-31 20:07:23,2022-03-31 20:07:23,2022-03-31 20:07:42,2022-03-31 20:18:18
user879695,2022-05-27 12:48:32,2022-05-27 12:48:32,2022-05-27 12:48:51,2022-05-27 12:51:23
user879696,2022-03-14 05:37:55,NaT,2022-03-14 05:38:16,2022-03-14 05:42:14
user879698,2022-05-24 22:33:32,2022-05-24 22:33:32,NaT,NaT

In [ ]:
funnel_1.count()

ViewLoanApplyIntro         356475
StartLoanApply             326555
CompleteIDCertification    311972
EndLoanApply               302466
dtype: int64

In [ ]:
funnel_2.count()

ViewLoanApplyIntro         356475
StartLoanApply             326555
CompleteIDCertification    311972
EndLoanApply               302466
dtype: int64

In [ ]:
326555/356475 # ViewLoanApplyIntro -> StartLoanApply 전환율

0.916067045374851

In [ ]:
1 - 0.916067045374851 # ViewLoanApplyIntro -> StartLoanApply 이탈률

0.08393295462514905

In [ ]:
311972/326555 # StartLoanApply -> CompleteIDCertification 전환율

0.9553428978273185

In [ ]:
1 - 0.9553428978273185 # StartLoanApply -> CompleteIDCertification 이탈률

0.044657102172681484

In [ ]:
302466/311972 # CompleteIDCertification -> EndLoanApply 전환율

0.969529316733553

In [ ]:
1 - 0.969529316733553 # CompleteIDCertification -> EndLoanApply 이탈률

0.030470683266446974

In [ ]:
import plotly.express as px
data = dict(
    number = [356475,326555,311972,302466],
    stage = ['ViewLoanApplyIntro','StartLoanApply','CompleteIDCertification','EndLoanApply'])
fig = px.funnel(data, x = 'number', y= 'stage')
fig.show()
# 전환율 
326555/356475

0.916067045374851